@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Roboto&family=Raleway:wght@300;400;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
}

.container-wrapper {
  background: #086278;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  left: 0px;
  top: 0px;
}

.navbar .navbar-left {
  width: 576px;
  height: 50px;
  left: 62px;
  top: 25px;
  margin-left: 60px;
}

.navbar .navbar-left .navdec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar .navbar-left .navdec .li {
  margin-top: 12px;
  padding: 0 10px;
}

.navbar .navbar-left .navdec li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.navbar .navbar-left #logo span {
  padding: 0 10px;
  margin-right: 40px;
}

.navbar .navbar-left #logo a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 10px;
}

.navbar .navbar-right {
  width: 576px;
  height: 50px;
  right: 62px;
  top: 25px;
}

.navbar .navbar-right .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 12px;
}

.navbar .navbar-right .profile li {
  padding: 0 10px;
}

.navbar .navbar-right .profile li .login {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  height: 43px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navbar .navbar-right .profile li .register {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #EEEEEE;
}

.navbar .navbar-right .profile #register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

ul li {
  list-style: none;
}

ul a {
  text-decoration: none;
  text-align: center;
}

.wrapper-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 0px;
  top: 100px;
}

.wrapper-frame .frame-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  margin-left: 10%;
  margin-top: 15%;
}

.wrapper-frame .frame-left .btn-b {
  background-color: #171738;
  border-radius: 4px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 48px 0px;
  padding: 15px 100px;
  text-decoration: none;
}

.wrapper-frame .frame-left a {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #EEEEEE;
  outline: none;
}

.wrapper-frame .frame-left span {
  height: 112px;
  margin-top: 20px;
  /* Header 2 */
  /* or 117% */
}

.wrapper-frame .frame-left span h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 26px;
  color: #FBFBFB;
  letter-spacing: 1.25px;
  opacity: 0.78;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 24px 0px;
}

.wrapper-frame .frame-left p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FBFBFB;
  opacity: 0.8;
}

.wrapper-frame .frame-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 763px;
  height: 454px;
  left: 1556px;
  top: 275px;
  margin-top: 10%;
  margin-bottom: 15%;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.crypto {
  height: 120px;
  left: 1px;
  top: 904px;
  background: linear-gradient(225deg, #666666 0%, #151522 100%);
}

.logo-cloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 165px;
  background: #FFFFFF;
}

.logo-cloud .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
  letter-spacing: 0.5px;
  color: #121212;
  opacity: 0.8;
  /* Inside Auto Layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 8px 0px;
}

.logo-cloud .logos h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0.25px;
  color: #121212;
}

.logo-cloud .logos .span {
  color: #086278;
}

.logo-cloud .logos .text {
  margin-top: 20px;
}

.logo-cloud .logos .text p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 15px;
  color: #121212;
  opacity: 0.8;
}

.logo-cloud .section-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.logo-cloud .section-heading .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  padding: 5px;
  letter-spacing: 0.15px;
  color: #121212;
}

.logo-cloud .section-heading .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 55px;
}

.logo-cloud .section-heading .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 80px;
}

.logo-cloud-4 {
  background: #FBFBFB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo-cloud-4 .content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  margin-left: 10%;
}

.logo-cloud-4 .content-1 .frame-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  margin-top: 40px;
}

.logo-cloud-4 .content-1 .frame-1 .space {
  line-height: 20px;
  letter-spacing: -1px;
}

.logo-cloud-4 .content-1 .frame-1 .space h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-transform: capitalize;
  color: #121212;
}

.logo-cloud-4 .content-1 .frame-1 .sp {
  color: #086278;
}

.logo-cloud-4 .content-1 .frame-1 .p {
  line-height: 15px;
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.logo-cloud-4 .content-1 .frame-1 .p p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #121212;
  opacity: 0.8;
}

.logo-cloud-4 .content-1 .frame-86 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.logo-cloud-4 .content-1 .frame-86 .content-1-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.logo-cloud-4 .content-1 .frame-86 .content-1-section-1 .section-1-1 {
  margin-left: 20px;
  margin-top: 30px;
}

.logo-cloud-4 .content-1 .frame-86 .content-1-section-1 img {
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(8, 98, 120, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding: 25px;
}

.logo-cloud-4 .content-1 .frame-86 .content-1-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.logo-cloud-4 .content-1 .frame-86 .content-1-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.logo-cloud-4 .content-1 .frame-86 .content-1-section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.logo-cloud-4 .content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-top: 100px;
  margin-right: 5%;
}

.logo-cloud-4 .content-2 img {
  width: 546px;
  height: 632px;
}

.logo-cloud-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  padding: 64px 165px;
}

.logo-cloud-6 .log-header {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 68px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  letter-spacing: -1px;
  color: #121212;
}

.logo-cloud-6 .log-header span {
  color: #086278;
}

.logo-cloud-6 .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.logo-cloud-6 .wrapp .wrap1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo-cloud-6 .wrapp .wrap1 p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 4px;
  color: #121212;
}

.logo-cloud-6 .wrapp .wrap2 {
  margin-top: 5%;
}

.logo-cloud-6 .wrapp .wrap3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8%;
  margin-left: 10px;
}

.logo-cloud-6 .wrapp .wrap3 .p {
  line-height: 6px;
}

.logo-cloud-6 .wrapp .wrap3 .p p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #121212;
}

.logo-cloud-6 .wrapp .wrap4 {
  margin-top: 5%;
}

.logo-cloud-6 .wrapp .wrap5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15%;
}

.logo-cloud-6 .wrapp .wrap5 p {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #121212;
}

.cloud-4 {
  background: #FBFBFB;
}

.cloud-4 .subscriber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cloud-4 .subscriber .img {
  position: relative;
  height: 653px;
  width: 576px;
  margin: 20px;
}

.cloud-4 .content {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cloud-4 .content .desc {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #0B8CAD;
}

.cloud-4 .content span h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  line-height: 64px;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #121212;
}

.cloud-4 .content #p-tag {
  margin-top: 40px;
}

.cloud-4 .content #p-tag p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 12px;
}

.cloud-4 .content .btn-b {
  background: #171738;
  border-radius: 4px;
  padding: 15px 10px;
  margin-right: 35%;
}

.cloud-4 .content a {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #EEEEEE;
  text-decoration: none;
  margin: 32px 0;
}

.crypt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 165px;
  background: #FFFFFF;
}

.crypt .kontent-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.crypt .kontent-1 .kontent-1-1 {
  width: 425px;
  height: 449px;
}

.crypt .kontent-1 .kontent-1-1 h2 span {
  color: #086278;
}

.crypt .kontent-1 .kontent-1-1 span h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.827586px;
  color: #121212;
}

.crypt .kontent-1 .kontent-1-1 .p-t {
  line-height: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.crypt .kontent-1 .kontent-1-1 .p-t p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #7C8087;
}

.crypt .kontent-1 .kontent-1-1 .op {
  margin-top: 20px;
}

.crypt .kontent-1 .kontent-1-2 {
  width: 504px;
  height: 640.18px;
}

.faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 165px;
  background: #FBFBFB;
}

.faq .faq-section {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 30px;
}

.faq .faq-section .faq-header h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 58px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #0B8CAD;
}

.faq .faq-section .faq-header p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #666666;
  margin-top: 30px;
}

.faq .faq-section .faq-content {
  margin: 25px 0;
}

.faq .faq-section .faq-content span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .faq-section .faq-content span img {
  margin-right: 20px;
}

.faq .faq-section .faq-content span h3 {
  margin-top: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #333333;
}

.faq .faq-section .faq-content .para {
  margin-left: 30px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 14px;
  color: #666666;
  margin-top: 20px;
  margin-bottom: 40px;
}

.faq .faq-section .faq-content .para h3 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #333333;
}

.faq .faq-content .disp {
  display: none;
}

.faq .line {
  border: 1px solid rgba(228, 228, 228, 0.6);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 70px;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .footer-content-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}

.footer .footer-content .footer-content-left .feed-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 60px 20px 20px 0;
}

.footer .footer-content .footer-content-left .feed-back .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .footer-content-left .feed-back .footer-item a {
  color: black;
}

.footer .footer-content .footer-content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-content .footer-content-right .footer-image img {
  margin-top: 80%;
}

@media only screen and (max-width: 600px) {
  .frame-right img {
    display: none;
  }
  .wrapper-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-cloud-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-cloud {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-cloud .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo-cloud .text {
    margin-top: 20px;
  }
  .logo-cloud .text p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    color: #121212;
    opacity: 0.8;
  }
  .logo-cloud .wrapp .wrap1 p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapp .wrap2 img {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapp .wrap4 img {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=index.css.map */